<?xml version="1.0"?>
<launch>
  <arg name="world" default="empty"/>
  <arg name="ign_args" default=""/>

  <include file="$(find ros_ign_gazebo)/launch/ign_gazebo.launch">
    <arg name="ign_args" value="-r -v 3 $(arg world).sdf"/>
  </include>

  <!-- URDF from param, package model -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find summit_description)/robot/summit.urdf.xacro' --inorder" />
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node
    pkg="ros_ign_gazebo"
    type="create"
    name="urdf_spawner"
    output="screen"
    args="-world $(arg world) -param robot_description -name summit -allow_renaming true -urdf -x 0 -y 0 -z 0">
  </node>

</launch>